{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>endgame</title>
</head>
<body>
    {% block css_files %}
    <link rel="stylesheet" href="{% static "blog/support.css" %}">
    {% endblock css_files %}

    <div class="nav">
        <img class="logo" src="{% static "blog/images/riot.games.logo.png" %}" alt="logo" />
      
            <a class="nav-item  home" href="{% url 'pocetna-stranica' %}" >HOME </a>
            <a class="nav-item " href="{% url 'community' %}">CHAMPIONS</a>
            <a class="nav-item currentlink " href="{% url 'support' %}">MAPS </a>
            
            <span class="hello">Hello, {{request.user}} <br>
                <a class="logout " href="{% url 'logout' %}">Logout</a>
            </span> 
    </div>

    <div class="x" style="width: 65rem;">
        <div class="card"> <img class="card" src="{% static "blog/images/breeze.png" %}" alt="breeze" /></div>
        <h2>Breeze </h2>
       <p> Take in the sights of historic ruins or seaside caves on this tropical paradise. But bring some cover. You'll need them for the wide open spaces and long range engagements. Watch your flanks and this will be a Breeze.</p>
      </div>
   
      
       <div class="x2" style="width: 65rem;">
        <div class="card2">  <img class="card" src="{% static "blog/images/bind.jpg" %}" alt="bind" /></div>
        <h2>Bind </h2>
        <p> Two sites. No middle. Gotta pick left or right. What’s it going to be then? Both offer direct paths for attackers and a pair of one-way teleporters make it easier to flank.</p>
      </div>

    <div class="x3" style="width: 65rem;">
        <div class="card3"> <img class="card" src="{% static "blog/images/haven.jpg" %}" alt="haven" /></div>
        <h2>Haven</h2>
        <p>Beneath a forgotten monastery, a clamour emerges from rival Agents clashing to control three sites. There’s more territory to control, but defenders can use the extra real estate for aggressive pushes.</p>
    </div>


     

    <div class="copyright">
        <img class="logocopy" src="{% static "blog/images/riot.games.logo.png" %}" alt="logo" />
        <div class="ikone">
            <p>Follow us on :</p>
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
            <a href="https://www.google.com/" class="fa fa-google"></a>
            
        </div>
        <p>©2022 G.I,Valorant, INC. All Rights Reserved</p>
    </div>


    

</body>
</html>